    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta
        name="description"
        content="CineMon transforms your iPad or Mac into a professional video monitor. It includes many tools to assist with composition, lighting, exposure, looks, quality standards, and more. It's made for filmmakers, video professionals, content creators and anyone who works with video."
    />
    <meta name="author" content="Ike Arias" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="CineMon" />
    <!-- website name -->
    <meta property="og:site" content="https://www.cinemon.app" />
    <!-- website link -->
    <meta
        property="og:title"
        content="CineMon - Professional video monitor for iOS and Mac"
    />
    <!-- title shown in the actual shared post -->
    <meta
        property="og:description"
        content="CineMon transforms your iPad or Mac into a professional camera monitor. It includes many tools to assist with composition, lighting, exposure, looks, quality standards, and more. It's made for filmmakers, video professionals, content creators and anyone who works with video."
    />
    <!-- description shown in the actual shared post -->
    <meta
        property="og:image"
        content="https://www.cinemon.app/images/CineMon-iPad-Hero.jpg"
    />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://cinemon.app" />
    <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- to have large image post format in Twitter -->
    <meta name="twitter:site" content="@CineMonApp" />
    <meta
        name="twitter:title"
        content="CineMon - Professional video monitor for iOS and Mac"
    />
    <meta
        name="twitter:description"
        content="CineMon transforms your iPad or Mac into a professional camera monitor. It includes many tools to assist with composition, lighting, exposure, looks, quality standards, and more. It's made for filmmakers, video professionals, content creators and anyone who works with video."
    />
    <meta
        name="twitter:image"
        content="https://www.cinemon.app/images/CineMon-iPad-Hero.jpg"
    />

    <!-- Webpage Title -->
    <title>{{- if .IsHome -}}{{- site.Title -}}{{- else -}}{{- printf "%s | %s" .Title site.Title -}}{{- end -}}</title>

    {{- partialCached "head/css.html" . -}}

    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                "gtm.start": new Date().getTime(),
                event: "gtm.js",
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-W5RFBKS9");
    </script>
    <!-- End Google Tag Manager -->